<div class="d-flex justify-content-center w-100">
	<div class="d-flex justify-content-between w-100 m-2">
		<div class="d-flex align-items-center flex-column w-50 border border-5 p-2">
			<p>first component content</p>
			<button class="btn btn-primary text-dark"
				(click)="showHide()"
			>Second Comp</button>
		</div>
		<ng-container *ngIf="getVisiblity()">
			<div class="d-flex align-items-center flex-column w-50 border border-5 p-2">
				<app-second></app-second>
			</div>
		</ng-container>
	</div>
</div>